<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.andorid.ersnexus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".userlogin.UserLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".userprofile.homeactivity.UserProfileActivity"
            android:parentActivityName=".userlogin.UserLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".usersignup.UserSignUpActivity"
            android:parentActivityName=".userlogin.UserLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".userscanattendance.UserScanAttendanceActivity"
            android:parentActivityName=".userprofile.homeactivity.UserProfileHomeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".userprofile.homeactivity.UserProfileHomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>