<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.andorid.ersnexus">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".util.MyFileContentProvider"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".userlogin.UserLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".usersignup.UserSignUpActivity"
            android:label="Sign Up"
            android:parentActivityName=".userlogin.UserLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".userprofile.tabs.attendance.userscanattendance.UserScanAttendanceActivity"
            android:label="Scan Attendance"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".userprofile.homeactivity.UserProfileHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".userprofile.tabs.assignment.AssignmentPagerActivity"
            android:label="Assignments"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".userprofile.tabs.newsfeed.NewsPagerActivity"
            android:label="News Feed"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".userprofile.tabs.achievements.AddAchievementActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".userprofile.tabs.achievements.UploadPhotoFragment"
            android:screenOrientation="portrait"/>

        <activity android:name=".usersignup.FacultySignUpActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".userprofile.homeactivity.FacultyHomeScreenActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".faculty_dashboard.QrCodeGeneratorActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>